.burger-menu, 
.burger-menu.open {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 40px;
    z-index: 9999;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

img {
  /* height: 200px;
  width: 200px; */
  float: left;
  position: static;
  
}

.aboutMe {
clear: both;

}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.profile-pic {
  padding-left: 350px;
}

.marz-logo {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-marz {
 clear: both;
 padding-top: 50px;
}
.clouded-logo {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-clouded {
 clear: both;
 padding-top: 50px;
}
.paperboy-logo {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-paperboy {
 clear: both;
 padding-top: 50px;
}
.paperroute-logo {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-paperroute {
 clear: both;
 padding-top: 50px;
}
.redbarrel-logo {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-redbarrel {
 clear: both;
 padding-top: 50px;
}
.sentinel-logo {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-sentinel {
 clear: both;
 padding-top: 50px;
}
.newhairbreed-logo {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-newhairbreed {
 clear: both;
 padding-top: 50px;
}
.edl {
  padding-left: 350px;
  /* height: 700px;
  width: 800px; */
}
.about-edl {
 clear: both;
 padding-top: 50px;
}
.peregrine {
  padding-left: 350px;
}
.about-peregrine {
 clear: both;
 padding-top: 50px;
}

.contact-info {
  padding-left: 350px;
  list-style: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




/* nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
} */

  /* Option 1 - Display Inline */
  /* nav li {
    display: inline-block;
    margin-right: -4px;
  }
  */
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
}
*/
 

