.burger-menu, 
.burger-menu.open {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 40px;
    z-index: 9999;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

img {
  height: 200px;
  width: 200px;
  padding-left: 50px;
  
  
}
/* nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
} */

  /* Option 1 - Display Inline */
  /* nav li {
    display: inline-block;
    margin-right: -4px;
  }
  */
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
}
*/
 

